* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

  .containerGrande {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(57, 53, 53, 0.362);
  position: absolute;
} 

.FirstContainer {
  color: white;
  min-height: 100vh;
  width: 100%;
  background-image: url(../public/img/img-camellos.jpg);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ContainerHome1 {
  min-height: 20vh;
  display: flex;
  width: 100%;
  background-color: rgba(15, 14, 14, 0.596);
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  display: flex;
  font-weight: 300;
  z-index: 20;
}

.buttonHeader {
  cursor: pointer;
  width: 55px;
  height: 20px;
}

.buttonHeader:hover {
  background-color: #467BE7;
} 

ul {
  margin: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

ul:hover {
  border-bottom: 3px solid #EA5318;
  padding-bottom: 1rem;
}

.logo img {
  width: 80px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoLogo {
  color: white;
  font-size: 14px;
  margin-left: 6px;
  font-weight: 700;
}

.usuario img {
  width: 50px;
}

.usuario {
  display: flex;
  flex-direction: column;
}

.usuario button {
  background-color:#EA5318;
  color: white;
  border: none;
  margin-top: 16px;
  border-radius: 6px;
}

.containerBurger {
  display: flex;
  flex-direction: column;
}

.containerBurger button {
  background-color:#EA5318;
  color: white;
  border: none;
  margin-top: 16px;
  border-radius: 6px;
  padding: 2px;
}

.subtituloHome1 {
  color: #EA5318;
  font-size: 35px;
  margin-left: 4rem;
  z-index: 2;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 80px;
  font-weight: 400;
  margin-left: 3rem;
  z-index: 3;
}

.colorNaranjaDeLinea {
  color: #EA5318;
}

.containerSubtitulos {
  height: 50vh;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.botones {
  display: flex;
  border-radius: 5px;
  background-color: #EA5318;
  border: none;
  padding: 10px 20px;
  width: 240px;     
  margin: 0px 10px ;
  color: white;     
  font-size: 1.1rem;     
  cursor: pointer; 
  z-index: 200;
  margin-bottom: 1rem;
  justify-content: center;
  text-decoration: none;
  margin-top: 3rem;
  margin-left: 3rem;
}

.botones:hover {
  background-color: #467BE7;
}

.menuBurguer {
  width: 35px;
}
/*-------------------------------------------------------- EMPIEZA SING UP--------------------------------------------------------- */

.containerSingup {
  z-index: 1;
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.ContainerBotonesSingUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 100;
  cursor: pointer;
}

.ContainerBotonesSingUp h4 {
  width: 100%;
  cursor: pointer;

}

.subtituloSignUp {
  text-align: center;
  margin-top: 1rem;
  font-size: 22px;
}

form {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

label {
  width: 85%;
  margin: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.containerForm {
  width: 50%;
  flex-grow: 1;
}

.botonSubmit {
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #EA5318;
  width: 300px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  margin: 1rem;
  cursor: pointer;
}


  .botonSignIn {
    color: white;
    background-color: #EA5318;
    border-radius: 6px;
    border: none;
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 8px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;

  }

input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

.botonUp{
  position:fixed;
  bottom: 8rem;
  right: 5rem;
  height: 50px;
  width: 50px;
  font-size: 50px;
  border-radius: 40px;
}
main{
width: 100%;
min-height: 100vh;
}
.carousel{
width:100%;
min-height: 40vh;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 1rem;
background-color: rgb(248, 248, 248);
border-radius: 2.5rem;
}
.carousel>img{
  width: 500px;
  height: 20rem;
  padding: 1rem;
}
h2{
color: #EA5318;
 align-self: flex-start;
 padding: 2rem;
 padding-left: 10rem;
 font-size: 3rem;
}

.photoCarrusel{
  width: 25rem;
  height: 90%;
  border-radius: 2rem;
  
}
.Footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2rem;
  height: 20vh;
  background-color: rgb(20, 20, 20);
}
.Footer>p{
  color: #e7e7e7;
}
.Footer-nav{
  display: flex;
  flex-direction: column;
}
.Footer-nav>a{
padding: 0.5rem;
}
.FooterGit{
  display: flex;
  flex-direction: column;
}
.FooterGit>a{
  padding: 0.5rem;
  color: white;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Footer-link{
  color: #e7e7e7;
}
.btn-carousel{
  font-size: 2rem;
  background-color: #e7e7e7; 
  color: rgb(255, 255, 255);
  border: 2px solid rgb(248, 248, 248);
  border-radius: 2rem;
  height: 10rem;
  padding: 2rem;
}
.btn-carousel{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn-carousel:hover {
  background-color: gray;
  color: white;
}

.conteinerCarousel{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ErrorContainer{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.ErrorContainer>h2{
  width: 100%;
  text-align: center;
  padding: 0px;
}
.ErrorContainer>a{
  padding: 1.5rem;
  margin: 0;
}
  
@media (min-width: 769px) {
  .menuBurguer {
    display: none;
  }

}
@media (max-width: 768px) {
  nav {
    display: none;
  }
  .containerSingup{
    flex-direction: column;
  }
}


@media (max-width: 850px) {
  h1 {
    font-size: 60px;
  }
  }

@media (max-width: 630px) {
  h1 {
    font-size: 40px;
  }
  .subtituloHome1 {
  font-size: 20px;
  }
  .logo img {
    width: 40px;
  }
  .usuario img {
    width: 25px;
  }
  .botones {
    width: 120px;
  }
}

@media (max-width: 769px) {
  .conteinerCarousel{
    padding: 2rem;
  }
  .btn-carousel{
    display: none;
    width: 5px;
    font-size: 1rem;
  }
  .carousel>img{
    width: 320px;
    height: 15rem;
    padding: 1rem;
  }
  h2{
    color: #EA5318;
     align-self: flex-start;
     padding: 2rem;
     padding-left: 5rem;
     font-size: 3rem;
    }
    .botonUp{
      position:fixed;
      bottom: 2rem;
      right: 2rem;
      height: 30px;
      width: 30px;
      font-size: 20px;
      border-radius: 30px;
    }
    .Footer{
      display: flex;
      height: auto;
      flex-direction: column ;
    }
    .Footer>p{
      color: #e7e7e7;
      padding: 10px;
    }
  }
    @media (max-width: 386px) {
      .conteinerCarousel{
        padding: 0rem;
      }
      .btn-carousel{
        display: none;
        width: 5px;
        font-size: 1rem;
      }
      .carousel>img{
        width: 310px;
        height: 15rem;
        padding: 4px;
      }

}